<% if @page.content_for(:side_body).present? %>
  <div class="row">
    <div class="span9">
  <%= render_content_page(@page, {
        :hide_sections => local_assigns[:hide_sections] || :body_content_title,
        :can_use_fallback => !local_assigns[:show_empty_sections] && !local_assigns[:remove_automatic_sections]
      }) %>
    </div>
    <div class="span3">
      <p><%= link_to copywriting('Contact Button'), Refinery::Page.find('contact').url, class: "btn btn-primary" %> 
      <%= raw @page.content_for(:side_body) %></p>
    </div>
<% else %>
  <%= render_content_page(@page, {
        :hide_sections => local_assigns[:hide_sections] || :body_content_title,
        :can_use_fallback => !local_assigns[:show_empty_sections] && !local_assigns[:remove_automatic_sections]
      }) %>
<% end %>

<%= render '/refinery/draft_page_message' unless @page.nil? or @page.live? -%>
