<% copywriting_options(page: @page, phrase_type: "string") do %>
  
  <!-- <div id="social_networks">
    <%= link_to "skype:#{copywriting('Skype Name')}?call", id: "skype_icon" do %>
      <%= image_tag "skype32.ico", alt: "Skype"%>
    <% end %>

    <%= link_to "https://twitter.com/#{copywriting('Twitter Name')}", id: "skype_icon" do %>
  	<%= image_tag "twitter32.ico", alt: "Twitter"%>
    <% end %>

    <%= link_to "http://#{copywriting('LinkedIn URL')}", id: "skype_icon" do %>
      <%= image_tag "linkedin32.ico", alt: "LinkedIn"%>
    <% end %>
  </div> -->

  <p>
    Business Phone: <%= copywriting('Business Phone', { page: @page, phrase_type: "string"}) %>
  </p>

  <p>
    Mobile Phone: <%= copywriting('Mobile Phone', { page: @page, phrase_type: "string"}) %>
  </p>
	
  <p>
    <%= copywriting('Address 1') %>
    <%= copywriting('Address 2') %>
    <%= copywriting('Address 3') %>
  </p>

  <div id="map_container">
    <%= raw @page.content_for(:map_section) %>
  </div>
<% end %>